body {
    font-family: 'Ubuntu', sans-serif;
    color: #707070;
    font-weight: 400;
    margin: 0;
}

.container {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}

.container-nav, .container-home {
    display: flex;
    justify-content: space-between;
}

.container-home {
    padding-top: 2em;
}

.sidebar {
    padding-left: 1em;
    width: 30%;
}

header {
    background: #F8F8F8;
    padding: 2em 0;
    text-transform: uppercase;
}

.featured {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid #707070;
}

.big-img {
    width: 100%;
}

/* typography */

h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 2rem;
    color: #143774;
    text-transform: initial;
    margin: 0;
}

h2 {
    font-family: 'Lora', sans-serif;
    font-size: 1.5rem;
    color: #143774;
}

.subtitle {
    color: #1792D2;
    font-weight: 700;
    font-size: .75rem;
    letter-spacing: 0.2rem;
    margin: 0;
}

p {
    font-size: 0.85rem;
}

a {
    text-transform: uppercase;
    color: #1792D2;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 0.1rem;
    font-size: 0.75rem;
}

.date {
    font-size: 0.75rem;    
}

/* NAV */

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

nav li {
    margin-left: 2em;
}

nav a {
    color: #707070;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.25em, 0;
}

nav a:hover,
nav a:focus {
    color: #1792D2;
}

.current-page {
    border-bottom: 2px solid #1792D2;
}

.current-page:hover {
    color: #707070;
}

/* media queries */

@media (max-width: 600px) {
    .container-nav {
        flex-direction: column;
        justify-content: center;
    }

    header {
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
    margin:  0.75em;
    }
}