body {
    font-family: 'Ubuntu', sans-serif;
    color: #707070;
    font-weight: 300;
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}

.container-flex, .post-preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-main {
    padding-right: 0.4em;
}

header {
    background: #F8F8F8;
    padding: 2em 0;
    text-transform: uppercase;
    text-align: center;
}

.featured {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid #707070;
}

/* typography */

h1, h2, h3 {
    font-family: 'Lora', serif;
    font-weight: 400;
    margin-top: 0;
    color: #143774;
}

h1 {
    font-size: 2rem;
    text-transform: initial;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: .75rem;
}

.subtitle {
    color: #1792D2;
    font-weight: 700;
    font-size: .75rem;
    letter-spacing: 0.2rem;
    margin: 0;
}

p {
    font-size: 0.85rem;
}

strong {
    font-weight: 700;
}

a {
    text-transform: uppercase;
    color: #1792D2;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 0.1rem;
    font-size: 0.75rem;
}

a:hover,
a:focus {
    color: #143774;
    text-decoration: underline;
}

.date {
    font-size: 0.75rem;    
}

/* NAV */

nav ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

nav li {
    margin: 0.75em;
}

nav a {
    color: #707070;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.25em, 0;
}

nav a:hover,
nav a:focus {
    color: #1792D2;
    text-decoration: none;
}

.current-page {
    border-bottom: 2px solid #1792D2;
}

.current-page:hover {
    color: #707070;
}

/* media queries */

@media (min-width: 675px) {
    .container-flex, .post-preview, nav ul {
        flex-direction: row;
    }

    main {
        width: 75%;
        padding-top: 2em;
    }
    
    aside {
        width: 15%;
        padding-top: 2em;
    }
}